<template>
<NuxtLayout>

    <NuxtPage />
</NuxtLayout>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useAuthStore } from '~/stores/auth'


definePageMeta({
  layout:"default",
})



</script>