<template>
  <div>
    <header>
      <ul>
        <li><nuxt-link to="/">Home</nuxt-link></li>
        <li><nuxt-link to="/about">About</nuxt-link></li>
        <li v-if="!authenticated" class="loginBtn" style="float: right">
          <nuxt-link to="/login">로그인</nuxt-link>
        </li>

      </ul>
    </header>
    <div class="mainContent">
      <slot />
    </div>
    <footer>

    </footer>
  </div>
</template>

<style lang="css" scoped>
.layout {
  background-color: rgb(128, 128, 128);
}
</style>