<template>
    <div class="flex justify-center">
      <img src="/assets/images/lineacademy.png" class="w-450 h-50">
    </div>
    <div
        class="header bg-white dark:bg-gray-900  dark:border-gray-700 text-indigo-900 dark:text-gray-200 p-4 rounded-t">
      <h1 class="text-2xl font-bold text-center">강사용 로그인</h1>
    </div>

  <v-card
      class="mx-auto pa-12 pb-8"
      elevation="8"
      max-width="448"
      rounded="lg"
  >
    <div class="text-subtitle-1 text-medium-emphasis">Username</div>
    <input
        v-model="user.username"
        type="text"
        class="input"
        placeholder="Enter Username"
        name="uname"
        required
    />

    <div class="text-subtitle-1 text-medium-emphasis">Password</div>
    <input
        v-model="user.password"
        type="password"
        class="input"
        placeholder="Enter Password"
        name="psw"
        required
    />

    <button @click.prevent="login" class="button">Login</button>
  </v-card>

</template>

<script setup lang="ts">
import {storeToRefs} from 'pinia'; // 피니아 import
import {useAuthStore} from '~/stores/auth'; // 내가 만든 auth import

const {authenticateUser} = useAuthStore(); // use authenticateUser action from  auth store
const {authenticated} = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs

const user = ref({
  username: '',
  password: '',
});
// ref - 참조
const router = useRouter();

const login = async () => {
  await authenticateUser(user.value); // call authenticateUser and pass the user object
  // redirect to homepage if user is authenticated
  if (authenticated) {
    await router.push('/');
  }
};
</script>
<style>
.input{
  outline: black;
}

.button {
  color: dimgrey;
  width: 100px;
  height: 20px;
}
</style>